body{
    font-family: 'HiraKakuProN-W3', Arial;
    margin: 0;
}
header{
	background-color: #3cb371;
	display: flex;
	width: 100%;
	height: 105px;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	align-items: center;
}
header h1{
    font-size: calc(50vw / 13);
	color: white;
    text-align: center;
	line-height: 1.25em;
    margin: 0;
}
nav{
	width: 40%;
	height: inherit;
}
nav ul{
	padding-left: 0;
	margin-left: 5%;
	width: 95%;
	height: inherit;
	font-size: 0;
}
nav li{
	list-style:none;
	font-size: 20px;
	line-height: 105px;
	text-align-last: center;
	padding-left: 0;
}
.logo{
	display: inline-block;
	width: 10%;
}
.logo:hover{
	background-color: #2e8855;
}
.button{
	display: inline-block;
	height: 100%;
	color: white;
	width: calc(100% / 3);
}
.button:hover{
	background-color: #2e8855;
}
.photo{
    width: 15vw;
    height: 22.5vw;
    border-radius: 20% 0 0 20% / 50% 0 0 50%;
}
.title{
    width: 100vw;
    height: 22.5vw;
    background-color: #3cb371;
    color: white;
    display: flex;
    margin-bottom: 5px;
}
.map{
    display: block;
    aspect-ratio: 4 / 3;
    width: 75%;
    border: 0;
    margin: 0 auto;
}
@media screen and (min-width: 481px) {
    .content{
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
    }
    .main{
        width: 70%;
    }
    .side{
        width: 30%;
        text-align: center;
    }
    p{
        font-size: 15pt;
    }
}
@media screen and (max-width: 480px) {
    .content{
        margin-left: 5%;
        margin-right: 5%;
    }
    .side{
        text-align: center;
    }
    p{
        font-size: 10.5pt;
    }
}
p.danwa{
    text-indent:1em;
    margin:0;
}
p.law{
    margin-bottom:0.5em;
}
p.midashi{
    padding-left:1em;
}
p.jou{
    padding-left:1em;
    text-indent:-1em;
}
p.gou{
    padding-left:2em;
    text-indent:-1em;
}
p.gousai{
    padding-left:3em;
    text-indent:-1em;
}
